[Unit]
Description=cmus

[Service]
Type=forking
User=hyphen9
ExecStart=/home/hyphen9/music.sh
Environment="HOME=/home/hyphen9" "USERNAME=hyphen9"

[Install]
WantedBy=multi-user.target
